header {

  .logo {
    padding: 30px 0;
    text-align: center;

    img {
      width: 30%;
    }
  }

  .main-nav {
    &-list {
      @include displayFlex;
      a {
        padding: 10px 15px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 24px;

        &.active {
          background-color: $mainColor;
        }
      }
    }
  }
}
