body {
  background-color: lightblue;
}

.logo {
      display:block;
      margin:0px auto;

}

  h2 {
    color: blue;
    padding: 20px;
    font-size: 35px;
  }

  .main-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    & img {
      width: 400px;
      margin: 20px;
    }
  }
